<footer class="footer mt-auto py-3" style="background-color: #2b5892; color: white">
  <div class="container-fluid">
    <div class="row text-center text-lg-start">
      
      <!-- Divisão Esquerda (Brasão e Setor) -->
      <div class="col-lg-3 col-12 p-3 p-lg-0 d-flex align-items-center justify-content-center">
          <img src="https://cdn.sistemas.ro.gov.br/imgs/brasao-rondonia.png" class="logo-governo" alt="Logotipo do Governo" style="width: 50px; height: auto" /> 
          <span class="text-white mx-2">|</span>
          <span class="text-white">GTIC/SEAS</span>
      </div>
      
      <!-- Divisão Central (Contatos) -->
      <div class="col-lg-6 col-12 p-0 d-flex justify-content-center justify-content-lg-between align-items-center flex-column flex-lg-row my-3 my-lg-0">
          <span class="bg-secondary h-100 divider footer-divider" style="width: 1px"></span>
          <div class="d-flex flex-column justify-content-center text-center mx-2 gap-1 gap-lg-0">
              <span class="text-white" style="font-size: 0.9rem">Para mais informações entrar em contato com os canais de comunicação:</span>
              <span class="text-white" style="font-size: 0.9rem">
                  Telefone (WhatsApp): <a href="tel:+55 (69) 9 9951-9534" class="text-white fw-bold text-decoration-none">+55 (69) 9 9951-9534</a>
              </span>
              <span class="text-white" style="font-size: 0.9rem">
                  Geração Emprego: <a href="mailto:suporte@geracaoemprego.ro.gov.br" class="text-white fw-bold text-decoration-none">suporte@geracaoemprego.ro.gov.br</a>
              </span>
          </div>
          <span class="bg-secondary h-100 divider footer-divider" style="width: 1px"></span>
      </div>
      
      <!-- Divisão Direita (Políticas) -->
      <div class="col-lg-3 col-12 p-0 text-center d-flex align-items-center justify-content-center">
          <span class="text-white">Aviso de Privacidade</span>
          <span class="text-white mx-2 fw-bold">.</span>
          <span class="text-white">Política de Privacidade</span>
      </div>
      
    </div>
  </div>
</footer>
