<header class="app-header bg-white border-bottom px-4 shadow d-flex align-items-center justify-content-between">
  <!-- Left: Hamburger Menu -->
  <div class="d-flex align-items-center">
    <button class="btn btn-link text-gov-blue p-0 me-3 text-decoration-none shadow-none btn-hamburger"
            (click)="toggleSidebar()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  
  <!-- Center: Logos -->
  <a class="logo-container d-flex align-items-center justify-content-center mx-auto gap-1 text-decoration-none" routerLink="/">
    <img src="logo_sine.svg" alt="Sistema Logo" class="logo-img" />
    <div class="d-none d-sm-block bg-gov-blue logo-divider"></div>
    <img src="https://cdn.sistemas.ro.gov.br/imgs/logo-ro/v1/logo_governo_ro_texto_azul.svg" alt="Governo de Rondônia" class="d-none d-sm-block logo-gov" />
  </a>
  
  <!-- Right: Actions -->
  <div class="d-flex align-items-center gap-3 ms-auto ms-md-0">
    <div class="dropdown d-none d-lg-block">
      <button class="btn btn-link text-gov-blue text-decoration-none dropdown-toggle dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <b>ACESSO À INFORMAÇÃO</b>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Portal da Transparência</a></li>
        <li><a class="dropdown-item" href="#">e-SIC</a></li>
      </ul>
    </div>
    <button class="btn btn-link text-secondary p-0 position-relative btn-bell">
      <i class="fa-solid fa-bell fs-5"></i>
    </button>
    <button class="btn bg-gov-blue text-white fw-bold d-flex align-items-center gap-2 px-3 shadow-none btn-access">
      <i class="fa-solid fa-right-to-bracket"></i> <span class="d-none d-sm-inline">Acessar Sistema</span>
    </button>
  </div>
</header>
